@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");
a,
button {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  font-family: "abel, sans-serif"; }

.whatIDo {
  padding: 1rem; }
  .whatIDo h4,
  .whatIDo h3,
  .whatIDo h1 {
    padding: 1rem;
    border: 1px solid black;
    background: #49494b;
    border-radius: 1rem;
    box-shadow: 1px 1px 0 black;
    color: white;
    text-align: center;
    margin: 0 auto; }
  .whatIDo h1 {
    margin-bottom: 0.5rem;
    color: #49494b;
    background: white; }
  .whatIDo h4 {
    padding: 1rem;
    border: 1px solid black;
    background: #49494b;
    border-radius: 1rem;
    box-shadow: 1px 1px 0 black;
    color: white;
    text-align: center; }
  .whatIDo p {
    padding: 1rem;
    border: 1px solid black;
    background: #49494b;
    border-radius: 1rem;
    box-shadow: 1px 1px 0 black;
    color: white; }
  .whatIDo h3 {
    background: white;
    color: black;
    margin: 1.2rem auto;
    text-align: center;
    font-weight: 400;
    font-size: 1rem; }
    .whatIDo h3 .vision--statement {
      font-weight: 700;
      font-style: italic;
      font-size: 1.6rem; }

.closeWhoIam {
  color: white;
  z-index: 999;
  background: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 2px;
  bottom: 2px; }

.who--I-am {
  font-size: 7vw;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  text-align: center;
  font-family: abel, sans-serif;
  position: fixed;
  z-index: 8;
  padding: 1rem;
  background: #49494b;
  padding-bottom: 4rem;
  width: 100vw;
  bottom: -1.45rem;
  color: white;
  box-shadow: 0 -1px 0 black; }

.whoIam {
  position: relative;
  top: 2rem;
  z-index: 5;
  font-family: abel, sans-serif; }

.contact--wrapper {
  display: flex;
  position: fixed;
  background: #49494b;
  top: -0.1rem;
  z-index: 99;
  justify-content: space-around;
  width: 100vw;
  box-shadow: 0 1px 0 black;
  padding-bottom: -1rem; }
  .contact--wrapper a {
    margin-top: 1rem;
    margin-bottom: -0.25rem; }

.david--smile {
  width: 100vw;
  margin-top: 17vw; }
