@media (min-width: 1200px) {
  .contactWrapper {
    margin-top: -2rem;
    padding-bottom: 1rem; }
    .contactWrapper a {
      margin: 2rem 0 0 1rem; }

  .david--smile {
    width: 45vw; }

  .david--calling {
    width: 45vw; }

  .whatIDo {
    width: 42vw;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0; }
    .whatIDo .margin--zero {
      margin-bottom: 0; }

  .contact--wrapper {
    display: flex;
    flex-direction: column;
    height: 40vh;
    position: fixed;
    justify-content: space-around;
    background: #49494b;
    width: 5rem;
    box-shadow: 0 1px 0 black;
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-bottom-right-radius: 3rem;
    margin-top: 0rem; }
    .contact--wrapper a {
      margin: 0.75rem 0 0 1rem; }

  .closeWhoIam {
    color: white;
    z-index: 999;
    background: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 2px;
    bottom: 2px; }

  .who--I-am {
    font-size: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    text-align: center;
    font-family: abel, sans-serif;
    position: fixed;
    z-index: 8;
    padding: 1rem;
    background: white;
    padding-bottom: 4rem;
    width: 100vw;
    bottom: -1.55rem;
    color: white;
    box-shadow: 0 -1px 0 black; }

  .whoIam {
    position: relative;
    top: 2rem;
    z-index: 5; } }
